.inline {
    display: inline;
    background-color: aqua;
}

.block {
    display: block;
    background-color: darkseagreen;
}

.inline-block {
    display: inline-block;
    width: 500px;
    background-color: brown;
}

.none {
    display: none;
}

.msg {
    display: none;
    background-color: chocolate;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    color: red;
}

.hover-button:hover + .msg {
    display: block;
}