/* HTML 기본 폰트 사이즈 설정 */
html {
    font-size: 16px;
}

/* 상위 요소 폰트 사이즈 설정 */
.container {
    font-size: 30px;
}

/* em 테스트 */
.em {
    font-size: 2em; /* em 은 상위 요소에서 상대 크기! 30*2 = 60px */
}

/* rem 테스트 */
.rem {
    font-size: 2rem;
}

/* view 테스트 */
.view {
    width: 50vw; /* 너비가 전체의 50프로 사이즈가 변경할때마다 같이 변경 */
    height: 20vh; /* 높이가 전체의 20프로 사이즈가 변경할때마다 같이 변경 */
    background-color: aqua;
    font-size: 2vh; /* 폰트 크기가 높이의 2% 변경할때마다 같이 변경  */
}

/* percent 테스트 */
.percent {
    width: 80%;
    background-color: aquamarine;
}